name: Semantic Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release
    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.RELEASE_TOKEN }}

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: uv sync --all-extras --group dev

      - name: Python Semantic Release
        id: release
        run: |
          # Use Git to configure the bot user
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          
          # Run semantic-release
          uv run semantic-release version
          uv run semantic-release publish
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
